@(id: Long, form: Form[models.Game])(implicit flash: Flash, messages: Messages)

@main(form.value) {
    <h2>Game management</h2>
    <h3>@flash.get("message").getOrElse("")</h3>

    @helper.form(routes.FormController.updateGame(id)) {
        @if(form.hasGlobalErrors) {
            <p class="error">
            @form.globalError.get.message
            </p>
        }

        @helper.inputText(form("name"))

        <p><button type="submit">Submit</button></p>


    }

    @helper.form(routes.FormController.init(id)) {
        <p><button type="submit">INIT GAME!</button></p>
        <p>Assign items, powers and quests to current players.</p>
    }

    @helper.form(routes.FormController.reset(id)) {
        <p><button type="submit">RESET GAME!</button></p>
        <p>Warning: this will delete all quest assignments, item assignments and power assignments. Will not delete quests, items or powers. Will not delete players.</p>
    }

    @helper.form(routes.FormController.fullReset(id)) {
        <p><button type="submit">FULL RESET GAME!</button></p>
        <p>Warning: this will delete all players, quest assignments, item assignments and power assignments. Will not delete quests, items or powers.</p>
    }

}