@(id: Long, form: Form[models.Item], game: Game)(implicit flash: Flash, messages: Messages)

@main(Some(game)) {
    <h2>Item management</h2>
    <h3>@flash.get("error").getOrElse("")</h3>

    <a href="@routes.FormController.listItems(game.id)"><< Items</a>

    @helper.form(routes.FormController.updateItem(game.id, id)) {
        @if(form.hasGlobalErrors) {
            <p class="error">
            @form.globalError.get.message
            </p>
        }

        @helper.inputText(form("name"))
        @helper.textarea(form("description"))

        <p><button type="submit">Submit</button></p>
    }
}