@(game: Option[Game])(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Party game</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>

        <header class="topbar">
            <h1 class="fill">
                @if(game.isEmpty){
                    <a href="@routes.FormController.listGames()">
                        Party game admin interface
                    </a>
                } else {
                    <a href="@routes.FormController.showGameForm(game.get.id)">Game @game.get.id</a> |
                    <a href="@routes.FormController.listQuests(game.get.id)">Quests</a> |
                    <a href="@routes.FormController.listPowers(game.get.id)">Powers</a> |
                    <a href="@routes.FormController.listItems(game.get.id)">Items</a>
                }
            </h1>
        </header>

        <section id="main">
            @content
        </section>

    </body>
</html>
