@(powers: Seq[Power], game: Game)(implicit flash: play.api.mvc.Flash, messages: Messages)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(power: Power) = @{
    routes.FormController.showPowerForm(game.id, power.id)
}

@main(Some(game)) {
    <h2>Powers</h2>
    <h3>@flash.get("error").getOrElse("")</h3>

    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        @powers.map { q =>
            <tr>
                <td style="padding: 10px"><a href="@link(q)">@q.name</a></td>
                <td style="padding: 10px">@q.description</td>
            </tr>
        }
        <a href="@routes.FormController.showPowerForm(game.id, 0)">New power</a>
    </table>
}