@(id: Long, game: Game, allItems: Seq[(String, String)], allPowers: Seq[(String, String)], form: Form[models.QuestDescription])(implicit flash: Flash, messages: Messages)

@main(Some(game)) {
    <h2>Quest management</h2>

    <p><a href="@routes.FormController.listQuests(game.id)"><< Quests</a></p>

    <h3>@flash.get("error").getOrElse("")</h3>

    @helper.form(routes.FormController.updateQuest(game.id, id)) {
        @if(form.hasGlobalErrors) {
            <p class="error">
            @form.globalError.get.message
            </p>
        }

        @helper.inputText(form("name"), 'placeholder -> "Name")
        @helper.textarea(form("description"), 'placeholder -> "Description")

        <h3>Required items</h3>

        @helper.select(form("item1"), allItems, '_label -> "item 1", '_default -> "-- Select item --", '_showConstraints -> false)
        @helper.select(form("item2"), allItems, '_label -> "item 2", '_default -> "-- Select item --", '_showConstraints -> false)
        @helper.select(form("item3"), allItems, '_label -> "item 3", '_default -> "-- Select item --", '_showConstraints -> false)

        <h3>Required powers</h3>

        @helper.select(form("power1"), allPowers, '_label -> "power 1", '_default -> "-- Select power --", '_showConstraints -> false)
        @helper.select(form("power2"), allPowers, '_label -> "power 2", '_default -> "-- Select power --", '_showConstraints -> false)
        @helper.select(form("power3"), allPowers, '_label -> "power 3", '_default -> "-- Select power --", '_showConstraints -> false)

        <p><button type="submit" style="padding: 15px">Submit</button></p>
    }
}